h1 {
  color: LightRed;
  text-align: center;
  background-color: white;
  font-family: "Sans Serif";
  font-size: 60px;
}
h2 {
  color: LightRed;
  text-align: center;
  font-family: "Sans Serif";
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

body {
  text-align: left;
  background-color: LightBlue;
  font-family: "Bitter";
  margin-right: 50px;
  margin-left: 50px;
  font-size: 30px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

button{
  display: block;
  height: 100px;
  width: 300px;
  margin: 0 auto;
  background-color: white;
  text-color: black;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
  line-height: 100px;
  font-family: Arial;
  border-radius: 20px;
  text-decoration: none;
}
