h1 {
  color: Blue;
  text-align: center;
  background-color: white;
  font-family: "Sans Serif";
  font-size: 60px;
}
h2 {
  color: blue;
  text-align: center;
  font-family: "Sans Serif";
}

body {
  text-align: center;
  background-color: white;
  font-family: "Bitter";
  padding-right: 20px;
  padding-left:20px;
  font-size: 30px;
  width: auto;
}

img {
  display: block;
  margin: auto;
  width: 40%;
  height: 40%;
}

button{
  a style="display: block;
  border-radius: 12px;
  padding: 32px 16px;
  background-color: lightBlue;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  line-height: 100px;
  font-family: Arial;
  border-radius: 20px;
}
