h1 {
  color: LightRed;
  text-align: center;
  background-color: white;
  font-family: "Sans Serif";
  font-size: 60px;
}
h2 {
  color: LightRed;
  text-align: center;
  font-family: "Sans Serif";
}

body {
  text-align: left;
  background-color: LightBlue;
  font-family: "Bitter";
  padding-right: 50px;
  padding-left:50px;
  font-size: 30px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

button{
  a style="display: block;
  border-radius: 12px;
  padding: 32px 16px;
  background-color: lightBlue;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  line-height: 100px;
  font-family: Arial;
  border-radius: 20px;
}
